@import "../../../../assets/style/base";

.todo-item {
    border-radius: 5px;
    background-image: repeating-linear-gradient(to right, $primary-color-light, white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;

    .delete-button {
        color: red;
    }

    .done-button {
        color: green;
    }
    .todo-update-spinner {
        color: $primary-color;
    }
}
