$primary-color: rgba(139, 255, 165, 1);
$primary-color-light: rgba(139, 255, 165, 0.5);
$secondary-color: rgba(145, 189, 255, 1);
$secondary-color-light: rgba(145, 189, 255, 0.5);
$secondary-color-dark: rgba(58, 102, 247, 1);
$error-color: rgba(255, 65, 65, 1);
$disabled-color: rgba(156, 156, 156, 1);
$text-disabled-color: rgba(203, 203, 203, 0.5);
$color-white: white;
