$primary-color: rgba(139, 255, 165, 1);
$primary-color-light: rgba(139, 255, 165, 0.5);
$secondary-color: rgba(145, 189, 255, 1);
$secondary-color-light: rgba(145, 189, 255, 0.5);
$secondary-color-dark: rgba(58, 102, 247, 1);
$error-color: rgba(255, 65, 65, 1);
