
.homepage {
    .welcome-message {
        font-family: 'Cabin Sketch', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .welcome-text {
            font-size: 64px;
        }

        .what-todo-text {
            text-align: center;
            font-size: 32px;
        }
    }
}
