@import "../../assets/style/base";

.nav-bar-container {
    .menu-container {
        display: flex;
        gap: 30px;
        li {
            list-style: none;
            text-transform: uppercase;

            a {
                text-decoration: none;
                font-weight: 700;
                font-size: large;
                color: $secondary-color;
            }
            a:visited {
                color: $secondary-color;
            }
        }
    }

}

.option-user-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info-container {
        display: flex;
        gap: 5px;
        color: $secondary-color;

        .log-out-link {
            text-decoration: none;
        }
    }
}
